/* Every container holding the google map canvas must be 100% high */
html, body, #map-canvas, .jumbotron {
  height: 100%;
}
/* Bootstrap customizations */
.navbar-toggle {
  margin-left: 10px;
}
.navbar {
  margin-bottom: 0;
}
.jumbotron {
  padding: 0;
}
#searchForm {
  margin-top: 8px;
  display: flex;
}
ul {
  padding-left: 32px;
  color: wheat;
}
#clickableText {
  cursor: pointer;
}
#article
{
  position: fixed;
  top: 65px;
  left: 50%;
  width: 25%;
  padding: 10px;
  background-color: white;
  opacity: .99;
}
@media (max-width: 740px) {
  #article {
    position: inherit;
    width: 100%;
    left: auto;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
